body{
    margin: 0;
}

.container {
    display: flex;
  }
  
  .photo {
    flex: 1;
    background-image: url("leaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .signup {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }

  form {
    display: flex;
  }

  .firstBatch {
    margin-right: 60px;
  }

button {
  margin-top: 30px;
}

.banner {
    background-color: rgba(128, 128, 128, 0.7); /* Use rgba for transparency */
    color: #fff; /* Set text color to white */
    padding: 10px 20px; /* Add padding for better appearance */
    margin-top: 400px; /* Center the text horizontally */
    text-align: center; /* Center the text vertically */

    
}
  

